/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size:small;
}

.filter{
    font-size: small;
}

.card, .form-control{
    border-radius: 0%;
}

.product-btn{
    size: smaller;
}


.margins {
    margin-top: 25px;
}

.container {
    background-color: orange;
}

