<div class="card mb-4 box-shadow">
    <img class="card-img-top" 
    src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_2513000/altimages/ff_2513210alt2_full.jpg&w=600">
    <div class="card-body">
      <p class="card-text">!00% cotton long sleeve shirt. Great for keeping you warm on the coldest of nights.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-warning product-btn">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
  </div>
