<div class="card mb-4 box-shadow" style="height:auto">
    <img class="card-img-top" [src]="productItem.imageUrl">
    <div class="card-body" style="height:auto">
      <p class="card-text">{{productItem.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-warning product-btn" (click)="handelAddToCart()">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
  </div>
