<div class="container">
    <div class="row">
            <div class="col-md-10" style="font-family: Arial, Helvetica, sans-serif; margin-top: 25px;">
                <app-product-list style="text-align:center">Item List</app-product-list>
            </div>
        
            <div class="col-sm-2" style="font-family: Arial, Helvetica, sans-serif; margin-top: 25px;">
                <app-cart></app-cart>
            </div>
        </div>

    
    
    <!-- test button for don't see what you like for shopping cart page-->
    <div class="row" style="font-family: Arial, Helvetica, sans-serif;">
        <div>
                <form method="POST" action="mailto:info.osuswag@gmail.com">
                    <p style="font-style: italic; font-size: smaller;">Can't find what you're looking for?
                        Send us an email and tell us how we can accommodate you.
                        <Button ID="submit" runat="server" style="font-style: italic; font-size: smaller;">Send an Email</Button>
                    </p>
                </form>
        </div>
       
    </div>
    
</div>

