<div class="container">
  <router-outlet>
  </router-outlet>
</div>

<div class="container">

  <div class="row">
    <div>
      <h3>Home Page</h3>
    </div>
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="topnav">
        <a class="active" style="margin-right:150px" href="#home">Home</a>
        <a style="margin-right:150px" href="#catalog.component.html">Products</a>
        <a style="margin-right:150px" href="#shopping-cart.component.html">Shopping Cart</a>
      </div>
    </div>
  </div>
</div>

