<div class="margins">
<div class="row margins">
    <div class="col-sm-12 homepage">
        <div>
            <img class="picture img-fluid" src = "/assets/img/BusinessBLDG.JPG"/>
        </div>
    </div>
</div>

<div>
    <h1 class="margins" style = "text-align: center;">Contact Us:</h1>
</div>
<div style = "text-align: center; font-family: Arial, Helvetica, sans-serif;">
    <h2>Spears School of Business</h2>
    <h3>370 Business Building, Stillwater, OK 74078</h3>
    <h3>(405) 744-5064</h3>
    <h3>spears@okstate.edu</h3>
    
</div>
</div>
