

<div class="margins">
<div class="row margins">
    <div class="col-sm-12 homepage">
        <div>
            <img class="picture img-fluid" src = "/assets/img/BusinessBLDG.JPG"/>
        </div>
    </div>
</div>

<div style="text-align:center" class="margins">
    <h1>Contact Us:</h1>
</div>
<div style="text-align:center">
    <img class="img-fluid catalog-icons" src = "/assets/img/contact.png"/>
</div>

<!--
<div style="font-family: Arial, Helvetica, sans-serif">
    <div class="row catalog-icons" style="text-align: center;">
        <img class="img-fluid" src = "/assets/img/gradcap.jpg"/>
        <h3>Spears School of Business</h3>
    </div>
-->
   <!-- <h3>370 Business Building, Stillwater, OK 74078</h3>
    <h3>(405) 744-5064</h3>
    <h3>Spears@okstate.edu</h3>
   -->
</div>

