<div class="container">

<div class="row margins">
    <div class="col-sm-9 homepage">
        <div>
            <img class="picture" src = "/assets/img/ed-low-library3x2.jpg"/>
        </div>
    </div>
</div>



<div class="row margins">
    <h5 style="text-align:center;" class= "col-sm-12">AMERICA'S GREATEST ORANGE</h5>

</div>
<div class="row hometext">
    <p style="text-align: center;" class="col-sm-4"></p>
    <p style="text-align: center;" class="col-sm-4">Want to request some OSU gear? It's simple! Browse through our catalog of America's Greatest and request 
        anything that fits your fancy. Once your entire order is submitted, one of our Spears Associates will 
        contact you with further details.
        Go Pokes!
    </p>
    <p style="text-align: center;" class="col-sm-4"></p>
</div>
</div>