.white {
    color: white;
}

.homepage {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: dashed;
    background-color: orange;
    border-width: 5px;
    margin-top: 25px;
}

.picture {
    border-style: solid;
    text-align: right;
    border-width: 10px;
    margin-left: 50px;
}

.hometext {
    border-color: rgb(255, 145, 0);
    border-left: dotted;
    border-right: dotted;
    background-color: rgba(255, 145, 0, 0.411);
    
}

.margins {
    margin-top: 25px;
}