.white {
    color: white;
}

.homepage {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.picture {
    border-style: solid;
    text-align: right;
    border-width: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: black;
}

.hometext {
    border-color: rgb(255, 145, 0);
    border-left: dotted;
    border-right: dotted; 
}

.margins {
    margin-top: 25px;
}

.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: orange;
}



