
<div class="margins">

<div class="row margins">
    <div class="col-sm-12 homepage">
        <div>
            <img class="picture img-fluid" src = "/assets/img/okstategear-copyright.png"/>
        </div>
        
    </div>
</div>
<div class="row">
    <div>
        <img src="/assets/img/SpearsLogo.jpg" class="spears img-fluid">
    </div>
</div>



<div class="row margins">
    <h5 style="text-align:center; font-size: x-large;" class= "col-sm-12">America's Brightest Orange</h5>

</div>
<div class="row ">
    <div class="col-sm-3">
        <img class= "img-fluid" src = "/assets/img/hd-quality-oklahoma-state-university-logos-png-3.png">
    </div>
    <div class="col-sm-6">
        <p style="text-align: center; font-family: sans-serif; font-size: medium; font-weight: lighter;">Want to request some OSU gear? It's simple! Browse through our catalog of America's Greatest merchandise and request 
            anything that fits your fancy. Once your entire order is submitted, one of our Spears Associates will 
            contact you with further details.</p>
    </div>
    <div class="col-sm-3">
        <img class= "img-fluid" src = "/assets/img/hd-quality-oklahoma-state-university-logos-png-3.png">
    </div>

   
       
</div>
    <div class="row">
        <p style="text-align: center;" class="col-sm-3"></p>
        <p style="text-align: center; font-size: large; font-weight: lighter;" class="col-sm-6">Go Pokes!</p>
        <p style="text-align: center;" class="col-sm-3"></p>

    </div>
    <div class="row">
        <p style="text-align: center;" class="col-sm-3"></p>
        <div class="col-sm-6 footer-margins">
            <!--
                img
                img
                img
            -->
            <a href = "https://www.instagram.com/spearsbusinessosu/">
                <img class="img-fluid footer-images" style="margin-right: 12px;" src = "/assets/img/instagram.jpg">
            </a>
            <a href = "https://twitter.com/SpearsBusiness">
                <img class="img-fluid footer-images" style="margin-right: 10px;" src = "/assets/img/twitter.jpg">
            </a>
            <a href = "https://www.linkedin.com/company/spears-school-of-business/">
                <img class="img-fluid footer-images2" src = "/assets/img/linkedin.jpg">
            </a>
           
           
        </div>
        <p style="text-align: center;" class="col-sm-3"></p>


  
    </div>
    


</div>