
<div class="margins">

<div class="row margins">
    <div class="col-sm-12 homepage">
        <div>
            <img class="picture img-fluid" src = "/assets/img/ed-low-library3x2.jpg"/>
        </div>
    </div>
</div>



<div class="row margins">
    <h5 style="text-align:center; font-family: Arial, Helvetica, sans-serif; font-size: x-large; font-weight: bold;" class= "col-sm-12">AMERICA'S BRIGHTEST ORANGE</h5>

</div>
<div class="row ">
    <img class="col-sm-3 img-fluid" src = "/assets/img/hd-quality-oklahoma-state-university-logos-png-3.png">
    <p style="text-align: center; font-family: sans-serif; font-size: medium; font-weight: lighter;" class="col-sm-6 fancy">Want to request some OSU gear? It's simple! Browse through our catalog of America's Greatest and request 
        anything that fits your fancy. Once your entire order is submitted, one of our Spears Associates will 
        contact you with further details.</p>
        <img class="col-sm-3 img-fluid" src = "/assets/img/hd-quality-oklahoma-state-university-logos-png-3.png">
</div>
    <div class="row">
        <p style="text-align: center;" class="col-sm-3"></p>
        <p style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: lighter;" class="col-sm-6">Go Pokes!</p>
        <p style="text-align: center;" class="col-sm-3"></p>

    </div>
    <div class="row">
        <p style="text-align: center;" class="col-sm-3"></p>
        <div class="col-sm-6">
            <!--
                img
                img
                img
            -->
        </div>
        <p style="text-align: center;" class="col-sm-3"></p>

    </div>



</div>