.white {
    color: white;
}

.homepage {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: dashed;
    background-color: orange;
    border-width: 5px;
    margin-top: 25px;
}

.picture {
    border-style: solid;
    text-align: right;
    border-width: 10px;
    margin-left: 50px;
}

.hometext {
    border-color: rgb(255, 145, 0);
    margin-top: 25px;
}